{% load static %}

<!DOCTYPE html>
<!-- <html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Data collector</title>

    <link href="{% static "css/bootstrap.min.css"%}" rel="stylesheet">
    <link href="{% static "css/sb-admin-2.css"%}" rel="stylesheet">   
    <link href="{% static "css/font-awesome.min.css"%}" rel="stylesheet" type="text/css">

    <style>
        #outer {
            position: absolute;
            top: 250px;
            z-index: 50000; 
            background-color: white;   
            height: 60%; 
            box-shadow: 2px 4px 16px 2px rgba(0,0,0,0.4);
            /*border-bottom: 4px solid #3498DB;*/
               }

        #log {
            margin-top: 25%;
        }

        nav {
            background-color: #123462 !important;
            height:350px;
            margin-bottom: 20px;
        }
        #zea {
            width:50%; 
            height:20%;
        }

        #but {
            background-color:#123462; 
            border-color: #123462;
        }
        .navbar-header {
            text-align: center;
        }
        #zea {
            width:400px;
    }

    </style>   
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
</head>

<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-static-top " role="navigation">
            <div class="navbar-header col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3" >
                <img id="zea" class=""  src="{% static "images/logo.jpg"%}">
            </div>
        </nav>
   


    <div class="container col-md-10 col-md-offset-1" id="outer" >

        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div id="log" class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center">Data Collector Signup</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" method="POST" action="{% url 'login' %}">
                            {% csrf_token %}
                            <fieldset>
                                <div class="form-group input-group">
                                    <span class="input-group-addon"><i class="fa fa-sign-in"></i></span>
                                     <input type="text" class="form-control" placeholder="Enter your first name" name="f_name">
                                </div>
                                <div class="form-group input-group">
                                    <span class="input-group-addon"><i class="fa fa-sign-in"></i></span>
                                     <input type="text" class="form-control" placeholder="Enter your last name" name="l_name">
                                </div>
                                <div class="form-group input-group">
                                    <span class="input-group-addon"><i class="fa fa-sign-in"></i></span>
                                    <select name="gender" class="form-control">
                                       <option value="male">Male </option>
                                       <option value="female">Female </option>
                                       <option value="other">Other </option>
                                </div>
                                <div class="form-group input-group">
                                    <span class="input-group-addon"><i class="fa fa-sign-in"></i></span>
                                    <input type="text" class="form-control" placeholder="Enter your contact number" name="contact">
                                </div>
                                <div class="form-group input-group">
                                    <span class="input-group-addon"><i class="fa fa-sign-in"></i></span>
                                    <input type="text" class="form-control" placeholder="Enter your email" name="username">
                                </div>
                                <div class="form-group input-group">
                                    <span class="input-group-addon"><i class="fa fa-sign-in"></i></span>
                                    <input type="password" class="form-control" placeholder="Enter password" name="password">
                                </div>
                                <div class="form-group input-group">
                                    <span class="input-group-addon"><i class="fa fa-sign-in"></i></span>
                                    <select name="lang_fluent_in" class="form-control">
                                      {% for lang in languages %}
                                      <option value="{{lang}}">{{lang}} </option>
                                      {% endfor %}
                                </div>
                                <div class="form-group input-group">
                                    <span class="input-group-addon"><i class="fa fa-sign-in"></i></span>
                                    <input type="text" class="form-control" placeholder="Enter disablity (if any)" name="disability">
                                </div>
                                <button type="submit" class="btn btn-lg btn-primary btn-block">Register</button>
                            </fieldset>
                        </form><br>
                        <a href="{% url 'login' %}">
                            <button type="submit" class="btn btn-lg btn-primary btn-block">Already a user? LOGIN</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


    <script src="{% static "js/jquery-1.10.2.js"%}"></script>
    <script src="{% static "js/bootstrap.min.js"%}"></script>
    <script src="{% static "js/sb-admin-2.js"%}"></script>

</body>

</html -->>

<!DOCTYPE html>
<html>
<body>

<center><h1>Recording Tool LTRC IIITH</h1> <p>Personal Details Form </p>


<form method="post" action="{% url 'signup' %}">
  {% csrf_token %}
  <label for="fname">First name:</label>
  <input type="text" id="fname" name="f_name"><br> <br> 
  <label for="lname">Last name:</label>
  <input type="text" id="lname" name="l_name">
  <br> <br>

  <label for="Gender">Gender:   </label>

  <select name="gender" id="gender">
    <option value="male">Male</option>
    <option value="female">Female</option>
    <option value="others">Others</option>
  </select>
  <br> <br>
  <label for="contact">Contact Details:</label>
  <input type="number" id="contact" name="contact"><br> <br> 
  <label for="language">Langauges Fluent in:</label>
  <input type="text" id="language" name="lang_fluent_in">
  <br> <br>

  <label for="disability">Disability if any :</label>
  <input type="text" id="disability" name="disability">
  <br> <br>

  <label for="username">Enter username :</label>
  <input type="text" id="username" name="username"> <br><br>
  <label for="password">Enter Password :</label>
  <input type="text" id="password" name="password"> <br><br>

  <input type="submit" value="Submit">
</form>
</center>
</body>
</html>